@model Concesionario.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas Seguro que quieres eliminar esto?</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadPuertas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadPuertas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">← Regresar</a>
    </form>
</div>
